.tab-nav {
    list-style: none;
    padding: 2px 0 10px;
    border-bottom: 1px solid #ddd;
    .is-active a {
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        cursor: default;
    }
    li {
        display: inline-block;
        margin: 0 px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: #555;
            padding: 10px 15px;
        }
    }
}

.tab-content {
    margin: 0 7px;
    line-height: 1.5;
    > div:not(.is-active) {
        display: none;
    }
}