// @variables
$tooltip-min-width: 400px;
$font-size: 14px;
$font-stack: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$white: #ffffff;
$grey: #7e7e7e;
$dark-grey: darken($grey, 60%);
$light-grey: lighten($grey, 10%);
$link-color: #ff008a;
